Tenaris.Fava.Production.Reporting.ITConnection/Connected Services/ITService/TenarisCommon.Programming.ProductData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfITMachineId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ITMachineId" nillable="true" type="tns:ITMachineId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfITMachineId" nillable="true" type="tns:ArrayOfITMachineId" />
  <xs:complexType name="ITMachineId">
    <xs:sequence>
      <xs:element minOccurs="0" name="LineId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ITMachineId" nillable="true" type="tns:ITMachineId" />
  <xs:complexType name="OrderData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SpecDataContainer">
        <xs:sequence>
          <xs:element minOccurs="0" name="HeatSpecDataContainers" nillable="true" type="tns:SpecDataContainers" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderData" nillable="true" type="tns:OrderData" />
  <xs:complexType name="SpecDataContainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TenarisCommon" minOccurs="0" name="Parameters" nillable="true" type="q1:Parameters" />
      <xs:element minOccurs="0" name="ProductKey" nillable="true" type="tns:ProductKey" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecDataContainer" nillable="true" type="tns:SpecDataContainer" />
  <xs:complexType name="ProductKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="Heat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductKey" nillable="true" type="tns:ProductKey" />
  <xs:complexType name="HeatData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SpecDataContainer">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HeatData" nillable="true" type="tns:HeatData" />
  <xs:complexType name="SpecDataContainers">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="List" nillable="true" type="q2:ArrayOfKeyValueOfstringSpecDataContainer0v_Pa5xBf" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpecDataContainers" nillable="true" type="tns:SpecDataContainers" />
  <xs:complexType name="ElabStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ElabStatus" nillable="true" type="tns:ElabStatus" />
  <xs:complexType name="ItemsIDRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="From" type="xs:int" />
      <xs:element minOccurs="0" name="To" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemsIDRange" nillable="true" type="tns:ItemsIDRange" />
</xs:schema>