Tenaris.Fava.Production.Reporting.ITConnection/Connected Services/ITService/TenarisCommon.Measurement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TenarisCommon.Measurement" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Measurement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PhysicalAttribs">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="List" nillable="true" type="q1:ArrayOfKeyValueOfstringPhysicalAttrib2YjCsp6Y" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhysicalAttribs" nillable="true" type="tns:PhysicalAttribs" />
  <xs:complexType name="PhysicalAttrib">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentAttrib" nillable="true" type="tns:PhysicalAttrib" />
      <xs:element minOccurs="0" name="SubAttribs" nillable="true" type="tns:PhysicalAttribs" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhysicalAttrib" nillable="true" type="tns:PhysicalAttrib" />
</xs:schema>