Tenaris.Fava.Production.Reporting.ITConnection/Connected Services/ITService/TenarisCommon.Objects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TenarisCommon.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorReport" nillable="true" type="tns:ErrorReport" />
  <xs:complexType name="TransactionReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Element" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionReport" nillable="true" type="tns:TransactionReport" />
</xs:schema>