Tenaris.Fava.Production.Reporting.ITConnection/Connected Services/ITService/TenarisCommon.Chemical.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TenarisCommon.Chemical" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Chemical" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon" />
  <xs:complexType name="ChemicalElementsContainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ChemicalElementCollection" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProductKey" nillable="true" type="q1:ProductKey" />
      <xs:element minOccurs="0" name="SteelCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChemicalElementsContainer" nillable="true" type="tns:ChemicalElementsContainer" />
  <xs:complexType name="ChemicalElementCollection">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="List" nillable="true" type="q2:ArrayOfKeyValueOfstringChemicalElementQsf4vJkr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChemicalElementCollection" nillable="true" type="tns:ChemicalElementCollection" />
  <xs:complexType name="ChemicalElement">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxValue" type="xs:float" />
      <xs:element minOccurs="0" name="MinValue" type="xs:float" />
      <xs:element minOccurs="0" name="Mnemonic" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TenarisCommon" minOccurs="0" name="Parameters" nillable="true" type="q3:Parameters" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChemicalElement" nillable="true" type="tns:ChemicalElement" />
</xs:schema>