Tenaris.Fava.Production.Reporting.ITConnection/Connected Services/ITService/TenarisCommon.Programming.Program.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.Program" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.Program" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Process" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" />
  <xs:complexType name="ArrayOfProgramItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgramItem" nillable="true" type="tns:ProgramItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgramItem" nillable="true" type="tns:ArrayOfProgramItem" />
  <xs:complexType name="ProgramItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreationShift" type="xs:int" />
      <xs:element minOccurs="0" name="CreationTamsaDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TenarisCommon.Process" minOccurs="0" name="Creator" nillable="true" type="q1:Operator" />
      <xs:element minOccurs="0" name="CuttingData" nillable="true" type="tns:CuttingSequenceData" />
      <xs:element minOccurs="0" name="Duration" type="ser:duration" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TenarisCommon.Process" minOccurs="0" name="Editor" nillable="true" type="q2:Operator" />
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Folio" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ITMachineId" nillable="true" type="q3:ITMachineId" />
      <xs:element minOccurs="0" name="LastUpdate" type="xs:dateTime" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="OrderData" nillable="true" type="q4:OrderData" />
      <xs:element minOccurs="0" name="Pieces" type="xs:float" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TenarisCommon.Programming.ProductData" minOccurs="0" name="ProductKey" nillable="true" type="q5:ProductKey" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TenarisCommon.Process" minOccurs="0" name="Reporter" nillable="true" type="q6:Operator" />
      <xs:element minOccurs="0" name="Sequence" type="xs:int" />
      <xs:element minOccurs="0" name="Shift" type="xs:int" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TamsaDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgramItem" nillable="true" type="tns:ProgramItem" />
  <xs:complexType name="CuttingSequenceData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BarLength" type="xs:float" />
      <xs:element minOccurs="0" name="BarsCount" type="xs:int" />
      <xs:element minOccurs="0" name="BilletLength" type="xs:float" />
      <xs:element minOccurs="0" name="BilletsCount" type="xs:int" />
      <xs:element minOccurs="0" name="PipeLength" type="xs:float" />
      <xs:element minOccurs="0" name="PipesCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuttingSequenceData" nillable="true" type="tns:CuttingSequenceData" />
</xs:schema>